# First Project: Writing a Data Scientist Blog Post

In [1]:
#Importing libraries and import data
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

bos_cal = pd.read_csv('./Boston Airbnb/calendar.csv')
bos_list = pd.read_csv('./Boston Airbnb/listings.csv')
bos_rev = pd.read_csv('./Boston Airbnb/reviews.csv')

sea_cal = pd.read_csv('./Seattle Airbnb/calendar.csv')
sea_list = pd.read_csv('./Seattle Airbnb/listings.csv')
sea_rev = pd.read_csv('./Seattle Airbnb/reviews.csv')

In [3]:
bos_cal.head()

   listing_id        date available price
0    12147973  2017-09-05         f   NaN
1    12147973  2017-09-04         f   NaN
2    12147973  2017-09-03         f   NaN
3    12147973  2017-09-02         f   NaN
4    12147973  2017-09-01         f   NaN

In [4]:
bos_list.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,1.00
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,10.0,f,NaN,NaN,f,flexible,f,f,1,2.25

In [5]:
bos_rev.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,1178162,4724140,2013-05-21,4298113,Olivier,My stay at islam's place was really cool! Good...
1,1178162,4869189,2013-05-29,6452964,Charlotte,Great location for both airport and city - gre...
2,1178162,5003196,2013-06-06,6449554,Sebastian,We really enjoyed our stay at Islams house. Fr...
3,1178162,5150351,2013-06-15,2215611,Marine,The room was nice and clean and so were the co...
4,1178162,5171140,2013-06-16,6848427,Andrew,Great location. Just 5 mins walk from the Airp...

In [13]:
df_bos = bos_cal.merge(bos_list, how = 'outer', left_on = 'listing_id', right_on = 'id')

In [14]:
df_bos = df_bos.merge(bos_rev, how='outer', left_on = 'listing_id', right_on = 'listing_id')

In [15]:
df_bos.head()

,listing_id,date_x,available,price_x,id_x,listing_url,scrape_id,last_scraped,name,summary,...,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,id_y,date_y,reviewer_id,reviewer_name,comments
0,12147973,2017-09-05,f,NaN,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",...,moderate,f,f,1,NaN,NaN,NaN,NaN,NaN,NaN
1,12147973,2017-09-04,f,NaN,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",...,moderate,f,f,1,NaN,NaN,NaN,NaN,NaN,NaN
2,12147973,2017-09-03,f,NaN,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",...,moderate,f,f,1,NaN,NaN,NaN,NaN,NaN,NaN
3,12147973,2017-09-02,f,NaN,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",...,moderate,f,f,1,NaN,NaN,NaN,NaN,NaN,NaN
4,12147973,2017-09-01,f,NaN,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",...,moderate,f,f,1,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
sea_cal.head()

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00
2      241032  2016-01-06         f     NaN
3      241032  2016-01-07         f     NaN
4      241032  2016-01-08         f     NaN

In [22]:
sea_list.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

In [23]:
sea_rev.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...

In [18]:
df_sea = sea_cal.merge(sea_list, how = 'outer', left_on = 'listing_id', right_on = 'id')

In [19]:
df_sea = df_sea.merge(sea_rev, how='outer', left_on = 'listing_id', right_on = 'listing_id')

In [20]:
df_sea.head()

,listing_id,date_x,available,price_x,id_x,listing_url,scrape_id,last_scraped,name,summary,...,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,id_y,date_y,reviewer_id,reviewer_name,comments
0,241032,2016-01-04,t,$85.00,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,...,moderate,f,f,2,4.07,682061.0,2011-11-01,479824.0,Bro,Excellent all the way around. \r\n\r\nMaija wa...
1,241032,2016-01-04,t,$85.00,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,...,moderate,f,f,2,4.07,691712.0,2011-11-04,357699.0,Megan,Maija's apartment was a wonderful place to sta...
2,241032,2016-01-04,t,$85.00,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,...,moderate,f,f,2,4.07,702999.0,2011-11-08,1285567.0,Marylee,one of the most pleasant stays i've had in my ...
3,241032,2016-01-04,t,$85.00,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,...,moderate,f,f,2,4.07,717262.0,2011-11-14,647857.0,Graham,"Maija's suite is beautiful, cozy and convenien..."
4,241032,2016-01-04,t,$85.00,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,...,moderate,f,f,2,4.07,730226.0,2011-11-19,1389821.0,Franka,Our stay was short and pleasant. With its own ...

,listing_id,id_x,scrape_id,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,accommodates,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,jurisdiction_names,calculated_host_listings_count,reviews_per_month,id_y,reviewer_id
count,2.519668e+07,2.519668e+07,2.519668e+07,2.519668e+07,2.519668e+07,2.519668e+07,0.0,2.519668e+07,2.519668e+07,2.519668e+07,...,2.489300e+07,2.489373e+07,2.489190e+07,2.489264e+07,0.0,0.0,2.519668e+07,2.492038e+07,2.492038e+07,2.492038e+07
mean,4.831283e+06,4.831283e+06,2.016091e+13,1.463855e+07,1.512102e+01,1.512102e+01,NaN,4.233830e+01,-7.108044e+01,3.034723e+00,...,9.705777e+00,9.703953e+00,9.361145e+00,9.234564e+00,NaN,NaN,5.334265e+00,3.669015e+00,5.246516e+07,2.802389e+07
std,3.847804e+06,3.847804e+06,4.929352e+03,1.657447e+07,7.212463e+01,7.212463e+01,NaN,2.627047e-02,3.284205e-02,1.796238e+00,...,5.210542e-01,5.142969e-01,7.219224e-01,6.495781e-01,NaN,NaN,1.198148e+01,2.492259e+00,2.790970e+07,2.234080e+07
min,3.353000e+03,3.353000e+03,2.016091e+13,4.240000e+03,0.000000e+00,0.000000e+00,NaN,4.223594e+01,-7.117179e+01,1.000000e+00,...,2.000000e+00,4.000000e+00,2.000000e+00,2.000000e+00,NaN,NaN,1.000000e+00,1.000000e-02,1.021000e+03,1.430000e+02
25%,1.472481e+06,1.472481e+06,2.016091e+13,2.006852e+06,1.000000e+00,1.000000e+00,NaN,4.231846e+01,-7.110497e+01,2.000000e+00,...,9.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00,NaN,NaN,1.000000e+00,1.710000e+00,3.010346e+07,9.000349e+06
50%,4.105704e+06,4.105704e+06,2.016091e+13,8.479265e+06,2.000000e+00,2.000000e+00,NaN,4.234379e+01,-7.107395e+01,2.000000e+00,...,1.000000e+01,1.000000e+01,9.000000e+00,9.000000e+00,NaN,NaN,2.000000e+00,3.220000e+00,5.223121e+07,2.305179e+07
75%,7.540480e+06,7.540480e+06,2.016091e+13,2.224984e+07,6.000000e+00,6.000000e+00,NaN,4.235777e+01,-7.105736e+01,4.000000e+00,...,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,NaN,NaN,5.000000e+00,5.330000e+00,7.663423e+07,4.213514e+07
max,1.493346e+07,1.493346e+07,2.016091e+13,9.385411e+07,7.490000e+02,7.490000e+02,NaN,4.238998e+01,-7.100010e+01,1.600000e+01,...,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,NaN,NaN,1.360000e+02,1.915000e+01,9.999045e+07,9.335034e+07